@model NashGrub.Models.DTOs.HashtagsReviewsDTO

<div class="main-content">
    <div class="main-content-header">
        <h1 class="heading">
            <a class="heading-h1" href="/">NASH<span class="heading-span">grub</span></a>
        </h1>
        <p class="slogan">Feedback for Food.</p>
        <form asp-action="Index" class="form-content">
            <div class="form-layout">
                <textarea asp-for="Review.Message" class="text-area-styling"
                    placeholder="Enter your feedback here, remember to #hashtag the company..." rows="4"></textarea>
                <button class="form-submit-btn">Submit</button>
            </div>
        </form>
    </div>

    <ul class="review-list">
        @foreach (Review review in Model.Reviews)
        {
            <li class="review-item">
                <div class="business-icon-background">
                    <p class="business-icon">@review.Hashtag.BusinessName.Substring(0, 1)</p>
                </div>
                <div class="review-detail">
                    <p class="review-business-name">@review.Hashtag.BusinessName.ToUpper()</p>
                    <p class="review-description">@review.Message</p>
                </div>
                <p class="review-date">@(review.DaysSincePosted)d</p>
            </li>
        }
    </ul>
</div>
@* make this the aside content *@
<aside>
    <ul class="hashtag-list">
        @foreach (Hashtag hashtag in Model.Hashtags)
        {
            <li class="hashtag-item">
                <a class="hashtag" href="?hashtag=@hashtag.BusinessName">#@hashtag.BusinessName.ToLower()</a>
            </li>
        }
    </ul>
</aside>
