/* _content/NashGrub/Views/Home/Index.cshtml.rz.scp.css */
/* Define a class for the container */
.container[b-m1n89xd0az] {
  display: flex;
  justify-content: center;
}

.caps[b-m1n89xd0az] {
  font-weight: bold;
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
}

.grub[b-m1n89xd0az] {
  font-size: 50px;
}
/* Style for the business-aside class */
.business-aside[b-m1n89xd0az] {
  color: white;
  list-style-type: none;
}

.main-heading[b-m1n89xd0az] {
  font-size: 64px;
  
}

.main-container[b-m1n89xd0az] {
  height: 90vh;
  width: 800px;
}

.form-container[b-m1n89xd0az] {
  display: flex;
  flex-direction: column;
  background-color: rgb(57, 56, 56, 0);
  align-items: center;
  color: white;
  padding: 50px;
}

.text-btn-container[b-m1n89xd0az] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-color: gray;
  padding: 15px 25px; /* Combining padding declarations */
  width: 500px;
  border-radius: 5px;
  margin-top: 50px;
  border: 5px solid white;
  transition: box-shadow 0.3s; /* Transitioning box-shadow property */
}

.text-btn-container:hover[b-m1n89xd0az] {
  box-shadow: 0 0 0 5px rgb(255, 255, 255); /* Changing the shadow to create a border effect */
}

.list-container[b-m1n89xd0az] {
  height: 500;
  border-radius: 5px;
  overflow-y: scroll;
  background-color: white;
  list-style-type: none;
}

.textarea[b-m1n89xd0az] {
  background-color: white;
  color: rgb(0, 0, 0);
  resize: none;
  border: none;
  outline: none;
}

.textarea[b-m1n89xd0az]::placeholder {
  color: rgb(59, 59, 59);
  font-size: 15px;
}

.submit-btn[b-m1n89xd0az] {
  background-color: #0f5c82;
  color: white;
  border-radius: 100px;
  margin-left: auto;
  border: none;
  padding: 2px 25px;
  text-transform: uppercase;
}

.submit-btn:hover[b-m1n89xd0az] {
  scale: 110%;
  transition: 0.2s;
}

.review-list-item-background[b-m1n89xd0az] {
  background-color: white;
  border-bottom: 1px solid rgb(191, 187, 187);
  border-bottom-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px 30px;
}

.review-list-item[b-m1n89xd0az] {
  background-color: rgb(255, 255, 255);
  transition: transform 0.2s, background-color 0.2s;
  /* padding: 10px; */
  width: 95%;
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
  letter-spacing: 0.8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-list-item:hover[b-m1n89xd0az] {
  transform: translateX(5px);
  background-color: white;
}

.business-icon[b-m1n89xd0az] {
  font-size: 40px;
  background-color: rgb(34, 34, 34);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
}

.business-name[b-m1n89xd0az] {
  font-weight: bold;
  letter-spacing: -0.7px;
  opacity: 50%;
  margin-bottom: 5px;
}

.business-message[b-m1n89xd0az] {
  letter-spacing: -0.7px;
}

.text-btn-container[b-m1n89xd0az] {
  background-color: white;
}

.buisness-name-hashtag[b-m1n89xd0az] {
  background-color: rgb(255, 255, 255, 0.3);
  margin: 10px;
  padding: 8px 8px;
  text-align: center;
  border-radius: 40px;
  font-size: 13px;
}

.initial[b-m1n89xd0az] {
  color: white;
}
/* _content/NashGrub/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
