@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: linear-gradient(to bottom, #022536, #0c3b59);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-top: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 800px;
}

.main-content-header {
  text-align: center;
}

.heading-h1 {
  color: #ffffffed;
  text-decoration: none;
}

.heading-h1:hover {
  color: #ffffffed;
  text-decoration: none;
}

.heading {
  font-size: 60px;
  font-weight: bold;
}

.heading-span {
  font-size: 50px;
}

.slogan {
  color: #ffffffed;
  font-size: 25px;
  font-style: italic;
}

/* FORM */
.form-content {
  display: flex;
  justify-content: center;
}

.form-layout {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: all 0.2s;
  width: 500px;
}

.form-layout:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.form-layout:focus-within {
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px solid rgba(255, 255, 255, 0.08);
  transition: all 0.2s;
}

/* TEXT AREA */
.text-area-styling {
  border: none;
  outline: none;
  padding: 5px;
  resize: none;
  background-color: transparent;
}

/* SUBMIT BUTTON */
.form-submit-btn {
  background-color: #0c3b59;
  border: none;
  border-radius: 10px;
  color: white;
  margin-left: auto;
  padding: 5px 10px 5px 10px;
}

.form-submit-btn:hover {
  opacity: 90%;
  transform: scale(110%);
  transition: all 0.2s;
}

.form-submit-btn:active {
  transform: scale(105%);
  transition: all 0.2s;
}

/* REVIEW LIST */
.review-list {
  background-color: #f7f8f9;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 400px;
  list-style: none;
  overflow-y: scroll;
  padding: 0;
}

.review-item {
  align-items: center;
  background-color: #f7f8f9;
  border-bottom: 1px solid #e4e7eb;
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr auto;
  max-height: 100px;
  min-height: 100px;
  padding: 0px 20px 0px 20px;
}

.review-item:hover {
  background-color: #fff;
}

.review-item:hover > div:nth-child(1),
.review-item:hover > div:nth-child(2),
.review-item:hover > div:nth-child(3),
.review-item:hover > p:nth-child(4) {
  transition: all 0.2s;
  transform: translateX(5px);
}

.review-item:nth-child(6n + 1) > div:nth-child(1) {
  background-color: #6d4989;
}

.review-item:nth-child(6n + 2) > div:nth-child(1) {
  background-color: #3c7789;
}

.review-item:nth-child(6n + 3) > div:nth-child(1) {
  background-color: #897749;
}

.review-item:nth-child(6n + 4) > div:nth-child(1) {
  background-color: #4a8b6b;
}

.review-item:nth-child(6n + 5) > div:nth-child(1) {
  background-color: #495789;
}

.review-item:nth-child(6n + 6) > div:nth-child(1) {
  background-color: #495789;
}

.business-icon-background {
  align-items: center;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.business-icon {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}

.review-detail {
  display: flex;
  flex-direction: column;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review-business-name {
  color: #898d96;
  font-weight: bold;
  margin: 0;
}

.review-description {
  color: #141518;
  margin: 0;
}

.review-date {
  color: #898d96;
  margin: 0;
}

/* HASHTAG LIST */
.hashtag-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.hashtag-item {
  background-color: #0c3b59;
  border-radius: 50px;
  margin: 0;
  opacity: 70%;
  padding: 10px;
  text-align: center;
}

.hashtag-item:hover {
  cursor: pointer;
  opacity: 100%;
  transform: scale(110%);
  transition: all 0.2s;
}

.hashtag-item:active {
  transform: scale(105%);
}

.hashtag {
  color: white;
  margin: 0px;
  padding: 10px;
  text-decoration: none;
}

.hashtag:hover {
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-content {
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 20px;
  width: 925px;
}
